zad2/zad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteka" type="bibliotekaType"/>
  <xs:complexType name="autorType">
    <xs:sequence>
      <xs:element name="imie">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nazwisko">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ksiazkaType">
    <xs:sequence>
      <xs:element name="tytul">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="autorType" name="autor" maxOccurs="2" minOccurs="1"/>
      <xs:element name="cena">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="10"/>
            <xs:maxInclusive value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dzialType">
    <xs:sequence>
      <xs:element name="nazwa" >
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ksiazkaType" name="ksiazka" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dzialyType">
    <xs:sequence>
      <xs:element type="dzialType" name="dzial" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibliotekaType">
    <xs:sequence>
      <xs:element type="dzialyType" name="dzialy"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
